$font-biggest: 48px;
$font-big: 30px;
$font-medium: 24px;
$font-small:21x;
$font-smallest:16px;

/*COLORS : #FFF, #F7F7F7, , , , #BB4343
*/
$color-primary: #55c57a;
$color-primary-light: #EFAB4B;
$color-primary-dark: #BB4343;

$color-yellow: #EFAB4B;
$color-orange: #D87843;
$color-red: #BB4343;
$color-white: #F7F7F7;
$color-dark: #222222;
